.car-models__items {
    margin: 0;
    padding: 0;
    list-style: none;  
    text-align: center;  
}

.car-model__item {  
   display: inline-block;
   margin: 0 10px 15px 0;
   padding: 15px;
   vertical-align: middle;
   border: 1px solid #cccc;
   border-radius: 8px;
   width: 15%;
}

.car-model__content {
    background-color: #cccc;
}

.car-model__header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}